{% extends "base.html" %}

{% block title %}Brackup Target Server{% endblock %}

{% block preamble %}
    {% if top_message %}
      <center><span style='background: #ffc; padding: 0.5em'>{{top_message}}</span></center>
    {% endif %}

  <h1 align="center">
    Brackup Target Server 
  </h1>
{% endblock %}

{% block main_body %}

{% if is_admin %}

<h2>Welcome, admin!</h2>

<form method=POST action='/change_password'>

  {% if has_password %}

  <p>Your password is <b>set</b>.</p>
  <p>Change it to:

    {% else %}
       <p>Your password is <span style='color: red'><i>not set</i></span>.</p>
       <p>Set it to:
   {% endif %}

         <input name='password' type='password' />
         <input type='submit' value='Save' />
         </p>
</form>

<!--
  Maybe some stats here?  Can't actually show data because it's all
  encrypted.  Option to kick-off a GC operation maybe?
-->

{% else %}

<h2>Unauthorized.</h2>
<p>You're not an admin.</p>

{% endif %}

{% endblock %}
